html {
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  margin: 20px;
  gap: 50px;
}

.card {
  width: 380px;
  height: 530px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 10px;
  opacity: 1;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 320px;
  object-fit: cover;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

p {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-style: bold;
  color: black;
}

h2 {
  text-align: center;
  color: #FF6200;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-content {
  display: flex;
  height: 24px;
  position: relative;
}

#mobile::after {
  content: "+45 87 65 43 21";
  height: fit-content;
  width: max-content;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 2px;
  left: 40px;
}

#mail::after {
  content: "jkj@fictionalcompany.dk";
  height: fit-content;
  width: max-content;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 1px;
  left: 40px;
}

#building::after {
  content: "Fiktion Vej 78, 9500 Aalborg";
  height: fit-content;
  width: max-content;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 1px;
  left: 40px;
}

@media screen and (max-width: 438px) {
  ul {
    padding: 0;
    margin-left: 10px;
  }
  
}