* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.table-container {
  margin: 20px;
  /* UI Properties */
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
}

.table-row {
  display: grid;
  height: 50px;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: var(20px);
}

.table-row:last-of-type {
  border-radius: 0px 0px 5px 5px;

}

.table-row div {
  padding: 10px;
}

.quantity {
  justify-self: center;
}

/* .cell {
  display: flex;
  align-items: center;
} */

#header {
  background-color: black;
  color: white;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.white-bc {
  background-color: white;
}

.grey-bc {
  background-color: #EEEEEE;
}