* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.table-container {
  margin: 20px;
  /* UI Properties */
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
  max-width: 1747px;
  display: grid;
}

.table-row {
  display: grid;
  height: 50px;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 0.5fr;
  gap: 10px;
  align-items: center;
  justify-items: var(20px);
}

.table-row:last-of-type {
  border-radius: 0px 0px 5px 5px;
}

.table-row div {
  padding: 10px;
}

.center {
  justify-self: center;
}

.right {
  justify-self:flex-end;
}

#header {
  background-color: black;
  color: white;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.white-bc {
  background-color: white;
}

.grey-bc {
  background-color: #EEEEEE;
}

.bold {
  font-weight: bold;
}

.mobile-table-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.table-cell {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 7px 10px;
  gap: 30px;
}

@media screen and (max-width: 757px) {
  .table-row {
    height: fit-content;
  }
}

@media screen and (max-width: 499px) {
  .table-container {
    display: none;
  }

  .mobile-table-container {
    display: flex;
  }
}