* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: black;
  color: white;
  font-weight: bold;
}

th:first-of-type {
  border-radius: 5px 0 0 0;
}

th:last-of-type {
  border-radius: 0 5px 0px 0px;
}

th {
  color: white;
  text-align: left;
}

th,
td {
  padding: 18px;
  position: relative;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}